/*--------------------------------------------------------------
>>> button
----------------------------------------------------------------*/
.button-round-primary,
.button-round-secondary,
.button-round-white {
  font-size: 14px;
  line-height: 1.1;
  padding: 16px 25px;
  font-weight: 200;
  font-family: "Open Sans", sans-serif;
  text-transform: none;
}
@media screen and (max-width: 575px) {
  .button-round-primary,
.button-round-secondary,
.button-round-white {
    padding: 12px 20px;
  }
}

input[type=button],
input[type=reset],
input[type=submit] {
  border: none;
  background-color: #FFDA0F;
  color: #0E3500;
  cursor: pointer;
  padding: 16px 25px;
  font-weight: 600;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
input[type=button]:hover, input[type=button]:active, input[type=button]:focus,
input[type=reset]:hover,
input[type=reset]:active,
input[type=reset]:focus,
input[type=submit]:hover,
input[type=submit]:active,
input[type=submit]:focus {
  background-color: #A18A10;
}

.button-round-primary,
.button-round-secondary,
.button-round-white {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
  border: none;
  color: white;
  display: inline-block;
  position: relative;
  -webkit-transition: background-color 0.4s, color 0.4s;
  -moz-transition: background-color 0.4s, color 0.4s;
  -ms-transition: background-color 0.4s, color 0.4s;
  -o-transition: background-color 0.4s, color 0.4s;
  transition: background-color 0.4s, color 0.4s;
}

.button-round-primary {
  background-color: #008d00;
}

.button-round-secondary {
  background-color: #177dc2;
  color: #ffffff;
}

.button-round-white {
  background-color: #ffffff;
}

.button-round-primary:hover, .button-round-primary:focus, .button-round-primary:active,
.button-round-secondary:hover,
.button-round-secondary:focus,
.button-round-secondary:active,
.button-round-white:hover,
.button-round-white:focus,
.button-round-white:active {
  background-color: #A18A10;
  color: #ffffff;
}

.button-text {
  color: #0E3500;
  font-weight: 600;
  position: relative;
  line-height: 1.3;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.button-text:hover, .button-text:focus, .button-text:active {
  color: #1caa28;
}
